streamlit==1.37.1
tensorflow==2.17.0
keras==3.4.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
opencv-python==4.10.0.84
protobuf==4.25.4
h5py==3.11.0
joblib==1.4.2
gast==0.6.0
google-pasta==0.2.0
grpcio==1.65.4
flatbuffers==24.3.25
ml-dtypes==0.4.0
opt-einsum==3.3.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2

termcolor==2.4.0
wrapt==1.16.0
Werkzeug==3.0.3
